@model HomeIndexViewModel

<div class="row" style="padding-top:40px;margin:30px" >
    <div class="col-md-5 offset-md-1">
        <img width="275px" height="180px" src="~/Images/SGSLOGO.png" />
    </div>
    <div class="col-md-6 justify-content-center align-self-center text-center" style="font-size:xx-large">
        <div> Library of Saudi Geological Survey</div>
    </div> 
</div>

<div class="row text-center" style="padding-top:100px">
    <div class="col-md-3">
        <i class="fas fa-book" style="font-size: 75px; color: #5eaaa8;"></i>
        <div style="color:#5eaaa8"> <span style="font-size:xx-large;">@Model.BooksCount</span><small>Books</small></div>
        <hr />
    </div>
    <div class="col-md-3">
        <i class="far fa-file-alt" style="font-size: 75px; color: #5eaaa8;"></i>
        <div style="color:#5eaaa8"> <span style="font-size:xx-large;">@Model.ReportsCount</span><small>Reports</small> </div>
        <hr />
    </div>
    <div class="col-md-3">
        <i class="fas fa-map" style="font-size: 75px; color: #5eaaa8;"></i>
        <div style="color:#5eaaa8"><span style="font-size:xx-large;">@Model.MapsCount</span><small>Maps</small> </div>
        <hr />
    </div>
    <div class="col-md-3">
        <i class="far fa-newspaper" style="font-size: 75px; color: #5eaaa8;"></i>
        <div style="color:#5eaaa8"><span style="font-size:xx-large;">@Model.PeriodicalsCount</span><small>Periodicals</small> </div>
        <hr />
    </div>
</div>

<i class=""></i>


<br /><br />
