@model HomeIndexViewModel

<div class="row" style="padding-top:40px;margin:30px" >
    <div class="col-md-5 offset-md-1">
        <img width="275px" height="180px" src="~/Images/SGSLOGO.png" />
    </div>
    <div class="col-md-6 justify-content-center align-self-center text-center" style="font-size:xx-large">
        <div> Library of Saudi Geological Survey</div>
    </div> 
</div>

<div class="row text-center" style="padding-top:100px">
    <div class="col-md-3">
        <i class="fas fa-book" style="font-size: 75px; color: #5eaaa8;"></i>
        <div style="font-size:xx-large;color:#5eaaa8"> @model. </div>
        <div style="font-size:large">Count of Books</div>
        <hr />
    </div>
    <div class="col-md-3">
        <i class="far fa-file-alt" style="font-size: 75px; color: #5eaaa8;"></i>
        <div style="font-size:xx-large;color:#5eaaa8"> 6300 </div>
        <div style="font-size:large">Count of Reports</div>
        <hr />
    </div>
    <div class="col-md-3">
        <i class="fas fa-map" style="font-size: 75px; color: #5eaaa8;"></i>
        <div style="font-size:xx-large;color:#5eaaa8"> 3500 </div>
        <div style="font-size:large">Count of Maps</div>
        <hr />
    </div>
    <div class="col-md-3">
        <i class="far fa-newspaper" style="font-size: 75px; color: #5eaaa8;"></i>
        <div style="font-size:xx-large;color:#5eaaa8"> 580 </div>
        <div style="font-size:large">Count of Periodicals</div>
        <hr />
    </div>
</div>



<br /><br />
