    <div class="footer">
        <div class="float-left" style="margin:10px 0px 0px 10px">© Copyright @DateTime.Now.Year.ToString(). All Rights Reserved</div>
        <div class="float-right" style="margin:10px 10px 0px 0px">ITC Department</div>
    </div>
