<!DOCTYPE html>

<html>
<head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <!-- for FF, Chrome, Opera -->
    <link rel="icon" type="image/png" href="~/Images/SGS-ICON.ico" sizes="16x16">
    <link rel="icon" type="image/png" href="~/Images/SGS-ICON.ico" sizes="32x32">

    <!-- CSS -->
    <link href="~/node_modules/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link href="~/node_modules/@@fortawesome/fontawesome-free-webfonts/css/fontawesome.css" rel="stylesheet" />
    <link href="~/node_modules/@@fortawesome/fontawesome-free-webfonts/css/fa-solid.css" rel="stylesheet" />
    <link href="~/node_modules/@@fortawesome/fontawesome-free-webfonts/css/fa-regular.css" rel="stylesheet" />
    <link href="~/node_modules/@@fortawesome/fontawesome-free-webfonts/css/fa-brands.css" rel="stylesheet" />
    <link href="~/Styles/main.css" rel="stylesheet" />
    <link href="~/Styles/header.css" rel="stylesheet" />
    <link href="~/Styles/footer.css" rel="stylesheet" />

    <title>@ViewBag.Title</title>

    @RenderSection("Header", required: false)

</head>
<body>
    <br />
    <div class="container main-container">

        <header>
            <partial name="_Header">
        </header>

        <main>
            @RenderBody()
        </main>

        <footer>
            <partial name="_Footer">
        </footer>

    </div>

    <!-- Script files -->
    <script src="~/node_modules/jquery/dist/jquery.js"></script>
    <script src="~/node_modules/bootstrap/dist/js/bootstrap.js"></script>
    <script src="~/Scripts/app.js"></script>

    <partial name="_LayoutScript" />

    <!-- View specific scripts -->
    @RenderSection("Scripts", required: false)
</body>
</html>
