@import url("animations.css");

body {
    background-image: url('../Images/bgLibrary.jpg');
    background-repeat: repeat;
}

.main-container {
    padding:15px;
    background: rgba(255, 255, 255,0.6);
    border: 2px;
    margin-bottom: 25px;
    border-color: gray;
    border-radius: 10px;
    box-shadow: 2px 2px 20px 2px grey;
}

main {
    min-height: 450px;
}

