body {
    background-image: url('../Images/bgLibrary.jpg');
    background-repeat: repeat;
}

.main-container {
    padding:15px;
    background: rgba(255, 255, 255,0.6);
    border: 2px;
    margin-bottom: 25px;
    border-color: gray;
    border-radius: 10px;
    box-shadow: 2px 2px 20px 2px grey;
}

main {
    min-height: 450px;
}

#CountDivTop {
    position: relative;
    animation: newmovetop 2s 1;
    -webkit-animation: newmovetop 2s 1;
}

#CountDivBot {
    position: relative;
    animation: newmoveb 2s 1;
    -webkit-animation: newmoveb 2s 1;
}

@-webkit-keyframes newmovetop{
    from {top: 100px; background-color:#ff6a00;}
    to {top: 0px;}
}

@keyframes newmovetop {
    from {top: 100px;}
    to {top: 0px;}
}

@-webkit-keyframes newmoveb {
    from {top: 70px;}
    to {top: 0px;}
}

@keyframes newmoveb {
    from {top: 70px;}
    to {top: 0px;}
}