body {
    background-image: url('../Images/bgLibrary.jpg');
    background-repeat: repeat;
}

.main-container {
    padding:15px;
    background: rgba(255, 255, 255,0.6);
    border: 2px;
    margin-bottom: 25px;
    border-color: gray;
    border-radius: 10px;
    box-shadow: 2px 2px 20px 2px grey;
}

main {
    min-height: 450px;
}

#CountDivTop {
    position: relative;
    animation: movetop 3s 1;
    -webkit-animation: movetop 3s 1;
}

#TitleHeader {
    position: relative;
    animation: tileHeader 3s 1;
    -webkit-animation: tileHeader 3s 1;
}


@-webkit-keyframes movetop{
    from {top: 100px; opacity:0}
    to {top: 0px; opacity:1}
}

@keyframes movetop {
    from {top: 100px;opacity: 0}
    to {top: 0px;opacity: 1}
}

@-webkit-keyframes tileHeader {
    from {opacity: 0}
    to {opacity: 1}
}

@keyframes tileHeader {
    from {opacity: 0}
    to {opacity: 1}
}
