@model BookViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>


<form asp-action="create" method="post">
    <div asp-validation-summary="All" class="text-danger"></div>
    <input asp-for="Id" type="hidden" />
    <div class="row">
        <div class="col">
            <div class="form-group">
                <label asp-for="Code"></label>
                <input asp-for="Code" class="form-control" placeholder="" autofocus />
                <span asp-validation-for="Code" class="text-danger"></span>
            </div>
        </div>
        <div class="col">
            <div class="form-group">
                <label asp-for="Name"></label>
                <input asp-for="Name" class="form-control" placeholder="" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
        </div>
        <div class="col">
            <div class="form-group">
                <label asp-for="Author"></label>
                <input asp-for="Author" class="form-control" placeholder="" />
                <span asp-validation-for="Author" class="text-danger"></span>
            </div>
        </div>
    </div>

    <hr />
    <button type="submit" class="btn btn-info"><i class="fas fa-database"></i> Save </button>
    <button id="resetBtn" type="reset" class="btn btn-danger"><i class="fas fa-ban"></i> Cancel</button>

</form>


@section Scripts{

    <partial name="_ValidationScripts" />

    <script>

        (function () {

            $(function () {
                 $("button:reset").on("click", function () {

                    var url = '@Url.Action("Index")';
                    window.location.href = url;

                });
            });

        })();

    </script>

}

